@import "./components/mixins";
@import "./components/variables";

.nav__logo--links p {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: 800;
}

.nav__logo--links ul li a {
    @include nav_text;
}
